@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

   /* lekin agar globals mein chahiye toh:  */
   
body {
  @apply  bg-zinc-100 dark:bg-[#050507] transition-colors duration-500;
}
 
/* Three.js canvas ko clicks block nahi karne dena */
canvas {
  @apply pointer-events-none;
}

        @keyframes shimmer {
  0% {
    transform: translateX(-140%);
  }
  100% {
    transform: translateX(170%);
  }
}

.animate-shimmer {
  animation: shimmer 3.5s infinite;
}
